.container {
    //margin-top: 100px;
    .card {
        width: 60%;
        .star {
            color: red;
        }
        .error {
            color: red;
        }
        a {
            text-decoration: none;
        }
    }
}

